[Unit]
Description=Simple flask app
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/ubuntu/
ExecStart=/home/ubuntu/spark-ro.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

